<h3><%= @collectable.name%></h3>
<img src="<%= @collectable.image_url %>" alt="<%= @collectable.name %>" height="400" width="300">
<li> Initial Cost: <%= collectable.initial_cost%>   Current Appraised Value: <%= collectable.current_appraisel %></li>
<p> <%= @collectable.description %> </p>
<p> <%= @collectable.user.name %> </p>

<a href="/collectables/<%@collectable.id%>/edit">Edit Collectable</a>

<form action="/collectables/<%= @collectable.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>